@import "../../assets/style/colors";

.drawer-item-header {
	 background-color: $indigo900 !important;
	 color: #FFFFFF !important;
	 height: 32px !important;
	 font-size: 30px !important;
	 line-height: 30px !important;
 }